.container{
    
}
*{
    margin: 0;
    padding: 0;
}
.first_look{
    background-image: url('images/tesla.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 100vh;
    
}
.buttons{
    text-align: right;
    border: none;
    color: white;
    background-color: black;
}